{% extends '::base.html.twig' %}

{% block title %}{{ is_new ? 'New project' : 'Edit project' }}{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>{{ is_new ? 'New project' : 'Edit project' }}</h1>
    </div>

    {% if is_new %}
        {{ form_start(form, {'action': path('project_new') }) }}
    {% else %}
        {{ form_start(form, {'action': path('project_edit', { 'id': project.id }) }) }}
    {% endif %}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.assignedUsers) }}

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary">{{ is_new ? 'Create' : 'Update' }}</button>
        {% if not is_new %}
            <a onclick="return confirm('Do you really want to delete {{ project.name }} project?')" href="{{ path('project_delete', { 'id': project.id }) }}" class="btn btn-danger">Delete</a>
        {% endif %}
        or
        <a href="{{ path('projects') }}">Return to projects</a>
      </div>
    </div>

    {{ form_end(form) }}
</ul>
{% endblock %}
