<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PMT{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow">
        {% block stylesheets %}
            {% stylesheets filter='?uglifycss,cssrewrite'
            'assets/css/bootstrap.css'
            'assets/js/bootstrap-select/bootstrap-select.css'
            'assets/js/bootstrap-datepicker/datepicker.css'
            'assets/js/select2/select2.css'
            'assets/js/select2/select2-bootstrap.css'
            'assets/css/pmt.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <script data-main="/scripts/main" src="/scripts/require.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PMT</a>
                </div>
                <nav class="navbar-collapse collapse navbar-responsive-collapse" role="navigation">
                    {{ knp_menu_render('main', { currentClass: 'active' }) }}
                    
                    {{ knp_menu_render('right', { currentClass: 'active' }) }}
                </nav>
            </div>
        </header>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    {% include 'flash.html.twig' %}
                    
                    {{ wo_render_breadcrumbs() }}
                    
                    {% block body %}{% endblock %}
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div class="col-lg-2">
                        <input type="text" id="search_term" class="form-control" />
                    </div>
                {% endif %}
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts filter='?uglifyjs2'
            'assets/js/jquery-2.0.3.js'
            'assets/js/bootstrap.js'
            'assets/js/respond.src.js'
            'assets/js/bootstrap-select/bootstrap-select.js'
            'assets/js/bootstrap-datepicker/bootstrap-datepicker.js'
            'assets/js/ui/jquery.ui.core.js'
            'assets/js/ui/jquery.ui.widget.js'
            'assets/js/ui/jquery.ui.mouse.js'
            'assets/js/ui/jquery.ui.sortable.js'
            'assets/js/ui/jquery.ui.effect.js'
            'assets/js/select2/select2.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                require(['page/search', 'modules/helper/Url'], function(Search, urlHelper) {
                    urlHelper.setBase('{{ path('base_url') }}');
                    new Search();
                });
            </script>
        {% endblock %}
    </body>
</html>