{% extends '::base.html.twig' %}

{% block title %}{{ is_new ? 'New task' : 'Edit task' }}{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>{{ is_new ? 'New task' : 'Edit task' }}</h1>
    </div>

    {% if is_new %}
        {{ form_start(form, {'action': path('project_task_new', { 'project_id': project.id }) }) }}
    {% else %}
        {{ form_start(form, {'action': path('project_task_edit', { 'project_id': project.id, 'id': task.id }) }) }}
    {% endif %}
    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}
    {{ form_row(form.description, {'attr': {'rows': 5}}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.estimatedTimeHours) }}
    {{ form_row(form.status) }}
    {{ form_row(form.progress) }}
    {{ form_row(form.assignedUsers) }}
    
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary">{{ is_new ? 'Create' : 'Update' }}</button>
        {% if not is_new and is_granted('ROLE_MANAGER') %}
            <a onclick="return confirm('Do you really want to delete {{ project.name }} task?')" href="{{ path('project_task_delete', { 'project_id': project.id, 'id': task.id }) }}" class="btn btn-danger">Delete</a>
        {% endif %}
        or
        <a href="{{ path('project_tasks', { 'project_id': project.id }) }}">Return to tasks</a>
      </div>
    </div>
        
    {{ form_end(form) }}
</ul>
{% endblock %}
