<div class="row thumbnails">
    {% for file in files %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="{{ path('file', {'key': file.downloadKey, 'ext': file.extension}) }}" class="thumbnail">
                    <img src="{{ thumb_path(file) }}" class="{{ file.isImage ? 'image' : 'file' }}">
                </a>
                <div class="caption">
                    <a href="{{ path('file', {'key': file.downloadKey, 'ext': file.extension}) }}">
                        {{ file.name }}
                    </a>

                    {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('file_delete', { 'id': file.id }) }}" class="btn btn-danger btn-xs pull-right">delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
