{% extends '::base.html.twig' %}

{% block title %}{{ is_new ? 'New user' : 'Edit user' }}{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>{{ is_new ? 'New user' : 'Edit user' }}</h1>
    </div>

    {% if is_new %}
        {{ form_start(form, {'action': path('people_new') }) }}
    {% else %}
        {{ form_start(form, {'action': path('people_edit', { 'id': user.id }) }) }}
    {% endif %}
    {{ form_errors(form) }}

    {% if user.id == app.user.id %}
        <div class="form-group">
            <label class="col-lg-2 control-label" for="user_avatar">Picture</label>
            <div class="col-lg-4">
                <img src="{{ gravatar(user.email) }}" class="img-circle"/>
                <a href="https://gravatar.com" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit on Gravatar.com</a>
            </div>
        </div>
    {% endif %}

    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plain_password, {'label': 'Password'}) }}
    {% if 'role' in form|keys %}
        {{ form_row(form.role) }}
    {% endif %}

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary">{{ is_new ? 'Create' : 'Update' }}</button>
        {% if not is_new and is_granted(expression('has_role("ROLE_MANAGER") and user.getId() != object.getId()'), user) %}
            <a onclick="return confirm('Do you really want to delete {{ user.fullname }}?')" href="{{ path('people_delete', { 'id': user.id }) }}" class="btn btn-danger">Delete</a>
        {% endif %}
        or
        <a href="{{ path('people') }}">Return to people</a>
      </div>
    </div>

    {{ form_end(form) }}
</ul>
{% endblock %}
